extends layout

block content
  .container
    p.title 
      | Explore!

    .center
      - var url="/join";
      a(href=url)
        div.ball-container
          div.large
          div.small
    
